@charset "UTF-8";

:root {
    --bg-color: #FAFAFA;
    --txt-color: #191919;
    --fg-color: #999;
    --btn-color: #0B566B;
    --drop-shadow: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #222;
        --txt-color: #F9F9F9;
        --fg-color: #444;
        --btn-color: #0B566B;
        --drop-shadow: white;
    }
}

body {
    background: var(--bg-color);
    color: var(--txt-color);
    margin: 0 auto;
    max-width: 1200px;
}

h1 {
    text-transform: uppercase;
}

.title {
    display: flex;
    margin: 20px 10px;
}

#time {
    margin-left: 15px;
}

.panel-container {
    max-width: 1200px;
    display: flex;
    flex-flow: wrap;
}

.panel {
    cursor: move;
    min-width: 250px;
    width: fit-content;
    height: fit-content;
    text-align: center;
    margin: 10px;
    padding: 5px;
    background: var(--fg-color);
    border-radius: 15px;
    filter: drop-shadow(0 0 0.2rem var(--drop-shadow));
}

button {
    background: var(--btn-color);
    color: var(--txt-color);
    border-radius: 15px;
    border: none;
    padding: 10px;
    margin: 5px;
}

.inside {
    display: flex;
    flex-direction: column;
}

#debu {
    max-width: 350px;
}

#debu .inside {
    text-align: left;
    overflow: auto;
    background: black;
    color: #70FC35;
    margin: 10px;
    padding: 5px;
}

.txt-big {
    font-size: 62px;
    margin: 5px;
    font-weight: lighter;
    text-transform: capitalize;
}
